<template>
    <div class="border-t border-neutral-200 py-5">
        <div class="container">
            <div class="sm:flex block justify-between w-full items-center sm:text-start text-center">
                <p class="text-neutral-400 text-sm sm:mb-0 mb-3">Copyright©2023Uangku.All Rights Reserved.</p>
                <div class="flex justify-center sm:justify-end sm:gap-5 gap-3">
                    <a href="" class="font-light sm:text-sm text-xs">Terms Of Service</a>
                    <a href="" class="font-light sm:text-sm text-xs">Privcy Policy</a>
                </div>

            </div>
        </div>
     
    </div>
</template>

<script setup>

</script>

