<script setup>

import { ref } from 'vue'
import {UserFavoriteAltFilled} from '@vicons/carbon'
import staticImg from '../assets/img/static-logo.png'
import HeadImg1 from '../assets/img/Headphone1.jpeg'
import HeadImg2 from '../assets/img/headphone2.jpeg'
import HeadImg3 from '../assets/img/headphone3.jpeg'
import HeadImg4 from '../assets/img/headphone4.jpeg'
const items =ref([
    {id:1, imgItem:HeadImg4 ,link:"Other",title:"TWS Bujug", type:"Stereo", color:"rose" , salaryBefore:"100.00",salaryAfter:"12.00"  , count: 0},
    {id:2, imgItem:HeadImg2 ,link:"music",title:"HeadPhone Bapits", type:"Stereo", color:"black" , salaryBefore:"100.00",salaryAfter:"12.00" , count: 0}   ,
    {id:3, imgItem:HeadImg3 ,link:"Other",title:"HeadPhone cute", type:"Stereo", color:"pink" , salaryBefore:"100.00",salaryAfter:"12.00" , count: 0},
    {id:4, imgItem:HeadImg1 ,link:"music",title:"HeadPhone light", type:"Stereo", color:"white" , salaryBefore:"100.00",salaryAfter:"12.00" , count: 0},

])

const value = ref(null);
const increment = (i) => {
  items.value[i].count++
}


const decrement  = (i) =>  {
    if(items.value[i].count <= 0){
        return  false;      
    }
    items.value[i].count--
  
}
function deleteItem(i){
    items.value = items.value.splice(i + 1)
}
</script>

<template>
    <div >

            <div v-for="(item,i) in items" :key="i" class=" border border-gray-300 rounded-xl py-4 px-6  w-full mb-5">
                <div class="flex items-center mb-3">
                    <input type=checkbox v-model="value" class="w-5 h-5">
                    <label class="form-check-label ps-4 text-xl flex items-center">
                        <img :src="staticImg" alt="" class="w-12 h-12 p-2  border border-gray-200 rounded-full object-cover me-3">
                        Xiami</label>
                </div>
                <div   class="md:flex block justify-between items-end">
                    <div class="sm:flex bblock">
                        <div class="flex items-start">
                            <input type=checkbox v-model="value" class="w-5 h-5">
                            <div class="flex items-center justify-center rounded-xl bg-transparent border border-gray-300 mx-4 h-28 w-28">
                                <img :src="item.imgItem" alt="" class="w-16 h-16 object-cover ">
                            </div>
                        </div>
                        
                        
                        <div class="text sm:mt-1 mt-6 sm:mb-0 mb-5 sm:ps-0 ps-5">
                            <a href="" class="border border-gray-300 py-1 px-4 rounded-full text-base">{{ item.link }}</a>

                            <h3 class=" text-xl mt-4 mb-3">{{ item.title }}</h3>
                            <div class="flex items-center gap-6 ">
                                <div class="flex">
                                    <h4 class="text-gray-300 text-base">Type : </h4>
                                    <h5 class=" text-base ps-1"> {{ item.type }}</h5>
                                </div>
                                <div class="flex">
                                    <h4 class="text-gray-300 text-base">color : </h4>
                                    <h5 class=" text-base ps-1"> {{ item.color }}</h5>
                                </div>
                            </div>
                          

                        </div>
                    </div>
                    <div class="md:text-right text-start sm:ps-0 ps-5" >
                        <span class="line-through text-gray-400 text-sm mb-0">${{ item.salaryBefore }}</span>
                        <p class="text-2xl font-semibold mt-2 mb-3">${{ item.salaryAfter }}</p>
                        <div class="flex items-center gap-4 text-gray-300">
                            <DeleteOutlined @click="deleteItem(i)" class="w-6 h-6 text-gray-300 cursor-pointer"/> |
                            <UserFavoriteAltFilled class="w-6 h-6 text-gray-300"/> |
                            <ArticleOutlined class="w-6 h-6 text-gray-300"/>
                            <div class="bg-gray-200 border border-300 rounded-md text-black flex gap-5 items-center py-1 px-3">
                                <button @click="decrement(i)">-</button>
                                <p>{{ item.count }}</p>
                                <button  @click="increment(i)">+</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
          
    </div>
</template>



<style scoped>
input[type='checkbox'] {
    accent-color: rgb(202, 196, 196);
    color: white !important;
    border-radius: .5rem !important;
}
</style>