<template>
  <div>
    <div class="container">
      <nav>
        <h4 class="text-base text-gray-300 my-14">
          Home / <span class="text-black">Cart</span>
        </h4>
      </nav>
      <h1 class="text-6xl font-semibold mb-10">My Cart</h1>
      <div class="grid grid-cols-12 md:gap-10 gap-0">
        <div class="lg:col-span-9 col-span-12">
          <div
            class="flex items-center justify-between w-full mb-5 border border-gray-300 rounded-xl py-4 px-6"
          >
            <div class="flex items-center">
              <input type="checkbox" v-model="value" class="w-5 h-5" />
              <label class="form-check-label ps-3 text-xl">Select All</label>
            </div>

            <button
              class="text-white bg-black py-3 px-4 rounded-full text-base"
            >
              Delete
            </button>
          </div>

          <Cards />

        </div>
        <div class="lg:col-span-3 col-span-12">
            <Summery/>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
const value = ref(false);
import Cards from './Cards.vue'
import Summery from "./Summery.vue";
</script>

<style scoped>
input[type="checkbox"] {
  accent-color: rgb(202, 196, 196);
  color: white !important;
  border-radius: 0.5rem !important;
}
</style>
