<template>
    <div>
        <div class="container">
            <div class="sm:flex block justify-between w-full items-end mt-14 sm:mb-14 mb-8">
                <div class="flex sm:gap-12 gap-10 sm:mb-0 mb-8 ">
                <div>
                    <h2 class="font-bold sm:text-2xl text-xl mb-4">About</h2>
                    <ul>
                        <li class="mb-2">
                            <a href="" class="text-neutral-500 text-base">Blog</a>
                        </li>
                        <li class="mb-2">
                            <a href="" class="text-neutral-500 text-base">Meet The Team</a>
                        </li>
                        <li class="mb-0">
                            <a href="" class="text-neutral-500 text-base">Contact Us</a>
                        </li>
                    </ul>

                </div>
                <div>
                    <h2 class="font-bold sm:text-2xl text-xl mb-4">Support</h2>
                    <ul>
                        <li class="mb-2">
                            <a href="" class="text-neutral-500 text-base">Shipping</a>
                        </li>
                        <li class="mb-2">
                            <a href="" class="text-neutral-500 text-base">Return</a>
                        </li>
                        <li class="mb-0">
                            <a href="" class="text-neutral-500 text-base">FAQ</a>
                        </li>
                    </ul>

                </div>
            </div>

            <div>
                <h2 class=" text-neutral-500 text-base mb-3">Soocia Media</h2>
                <div class="flex gap-4">
                    <a href="" class="bg-black flex items-center justify-center rounded-full w-10 h-10 transition-all    ">
                        <Youtube class="w-6 h-6 text-white "/>
                    </a>
                    <a href=""  class="bg-black flex items-center justify-center rounded-full w-10 h-10">
                        <FacebookF class="w-6 h-6 text-white"/>
                    </a>
                    <a href=""  class="bg-black flex items-center justify-center rounded-full w-10 h-10">
                        <LinkedinIn class="w-6 h-6 text-white" />
                    </a>
                    <a href=""  class="bg-black flex items-center justify-center rounded-full w-10 h-10">
                        <Instagram class="w-6 h-6 text-white"/>
                    </a>
 
                </div>
            </div>
            </div>

         
           
        </div>

        <bottomFooter/>

    </div>
</template>

<script setup>
import bottomFooter from './bottomFooter.vue'
import {FacebookF,LinkedinIn,Instagram ,Youtube}  from '@vicons/fa'


</script>

