<script setup>
import {ref} from 'vue'
import {MenuOutlined} from '@vicons/material'
import { RouterLink, RouterView } from 'vue-router'
import {ShoppingCartOutlined} from '@vicons/material'
import Logo from '../assets/img/logo.jpg'
import User from '../assets/img/course3.png'
const show= ref(false);
</script>

<template>
  <header>
    <div class="container">
        <div class="flex justify-between md:items-center w-full items-start  Roboto py-5 relative">
            <div class="flex items-center gap-1 md:py-0 py-3">
              <img :src="Logo" alt="logo" class="w-12">
                <h2 class="font-bold text-xl">Stuffsus</h2>
            </div>
            <nav class=" md:flex hidden gap-10 ">
                <RouterLink to="/beranda" class="text-base">Beranda</RouterLink>
                <RouterLink to="/shop" class="text-base">Shop</RouterLink>
                <RouterLink to="/blog" class="text-base">Blog</RouterLink>
            </nav>
            <nav class=" md:hidden block gap-10 overflow-hidden md:py-0 py-3">
                <MenuOutlined class="w-6 h-6 cursor-pointer" @click="show = !show"/>
                <transition enter-to-class="animate__animated  animate__fadeIn" leave-to-class="animate__animated  animate__fadeOut">
                    <div v-show="show" class="absolute top-20 w-full p-10 bg-gray-50 h-screen right-0 text-center z-10">
                        <RouterLink to="/beranda" class="text-xl font-bold mb-3 block">Beranda</RouterLink>
                        <RouterLink to="/shop" class="text-xl font-bold mb-3 block">Shop</RouterLink>
                        <RouterLink to="/blog" class="text-xl font-bold mb-3 block">Blog</RouterLink>
                </div>
               </transition>
               
            </nav>

            <div class="flex items-center gap-4">
                <div class="relative rounded-full border border-slate-100 p-3">
                    <ShoppingCartOutlined class=" w-6 " style="color: #000;"/>
                    <p class="text-white bg-red-600 m-0 pt-[2px] flex items-center justify-center w-4 h-4 rounded-full text-[9px] absolute top-[6px] end-[6px]">12</p>
                </div>
                <div >
                    <img :src="User" alt="user" class="rounded-full w-11 h-11  object-cover">
                </div>

            </div>
        </div>
    </div>
  
  </header>

  <RouterView />
</template>