<template>
    <div>
        <div class="container">
            <div class="bg-black rounded-3xl mt-14 sm:p-8 p-5">
                <div class="sm:flex block justify-between items-end">
                    <div>
                        <h1 class="text-white font-bold lg:text-6xl md:text-5xl sm:text-3xl text-2xl mb-5">Ready To Get  <br/> Our New Stuff?</h1>
                        <form class="vue-form">
                            <div class="relative lg:w-4/6 w-full">
                                <input class="focus:outline-none p-3 rounded-full ps-6 w-full" type="email" name="email" id="email" placeholder="your email" required="">
                                    <input class="bg-gray-950 sm:px-4 px-3 sm:py-2  py-2 absolute sm:text-base text-sm right-2  sm:top-1 top-[.4rem] rounded-full text-white cursor-pointer" type="submit" value="Send">
                            </div>
                        </form>
                    </div>

                    <div class="sm:w-4/12 w-full sm:mt-0 mt-5">
                        <h3 class="text-white mb-3 text-sm">Stuff for Homes and Needs</h3>
                        <p class="text-white opacity-70 text-sm">We'll listen to your needs, identify the best approach, and then create a bespoke smart EV charching solution that's right for you </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script setup>

</script>

