<script setup>

</script>
<template>
    <div>
        <div class="border border-gray-300 rounded-xl py-4 px-6  w-full mb-5">
            <h2 class="font-bold text-xl mb-4">Summary Order</h2>
            <div class="flex items-center justify-between mb-4">
                <h4 class="text-gray-500">
                    SubTotal:
                </h4>
                <p class="font-bold text-2xl">$101.20</p>
            </div>
            <button class="text-white bg-black p-3 w-full rounded-full">Buy Now (3)</button>
        </div>

    </div>
</template>




<style  scoped>

</style>