<script setup>
import { ref } from "vue";
import { ArrowRight, ArrowLeft } from "@vicons/carbon";
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/css/navigation";
import "swiper/css/autoplay";
import { Autoplay, Controller } from "swiper/modules";
import ImgOne from "../assets/img/img1.jpeg";
import ImgTwo from "../assets/img/img2.jpeg";
import ImgThree from "../assets/img/img3.jpeg";
import ImgFour from "../assets/img/img4.jpeg";
import ImgFive from "../assets/img/img5.jpeg";

import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/autoplay";

const stories = ref([
  { id: "01", sourc: ImgOne, title: "music" },
  { id: "02", sourc: ImgTwo, title: "home" },
  { id: "03", sourc: ImgThree, title: "storage" },
  { id: "04", sourc: ImgFour, title: "music" },
  { id: "05", sourc: ImgFive, title: "home" },
]);
const controlledSwiper = ref(null);
const setControlledSwiper = (swiper) => {
  controlledSwiper.value = swiper;
};
const breakPoints = {
  280: {
    slidesPerView: 1.2,
    spaceBetween: 10,
  },
  480: {
    slidesPerView: 1.5,
    spaceBetween: 15,
  },
  768: {
    slidesPerView: 2.2,
    spaceBetween: 20,
  },
  1024: {
    slidesPerView: 2.5,
    spaceBetween: 40,
  },
};

const autoplay = {
  delay: 1000,
  disableOnInteraction: true,
  pauseOnMouseEnter: true,
};0



const basicSlider = ref(null)

function slidePrevious() {
  basicSlider.value.slidePrev()
}

function slideNext() {
  basicSlider.value.slideNext()
}
</script>

<template>
  <div>
    <div class="container">
      <div class="flex items-center justify-between gap-3  mt-16 sm:mb-16  mb-10">
        <h2 class="font-bold lg:text-5xl md:text-4xl sm:text-2xl xs:text-xl text-base sm:mb-0 ">
        Explore our Curated Categories <br />
        and Transform your living spaces
      </h2>
        <div class="arrows flex items-center justify-end gap-4">
          <div class="button-prev cursor-pointer" @click.stop="slidePrevious">
            <div>
              <ArrowLeft class="md:w-8 sm:w-6 w-5 md:h-8 sm:h-6 h-5"/>
            </div>
          </div>
          <div class="button-next cursor-pointer" @click.stop="slideNext">
            <div>
           
              <ArrowRight  class="md:w-8 sm:w-6 w-5 md:h-8 sm:h-6 h-5"/>
            </div>
          </div>
        </div>
      </div>
     
      <div >
       

        <swiper
          :autoplay="autoplay"
          :breakpoints="breakPoints"
          :loop="true"
          :modules="[Autoplay, Controller]"
          :slides-per-view="1"
          @swiper="(s) => (basicSlider = s)"
        >
          <swiper-slide
            v-for="(item, i) in stories"
            :key="i"
            class="mb-10 overflow-hidden bs"
          >
            <img
              :src="item.sourc"
              alt=""
              class="w-full md:h-[20rem] h-[15rem] lg:h-[25rem]  xl:h-[30rem] rounded-3xl object-cover"
            />
            <div
              class="bg-white rounded-full lg:py-4 py-2 md:py-3 lg:px-6 md:px-5 px-3 absolute lg:bottom-7  md:bottom-6 bottom-4 lg:left-7 md:left-6 left-4 border border-zinc-300"
            >
              <p class="lg:text-xl md:text-lg text-base font-semibold">
                {{ item.title }}
              </p>
            </div>
          </swiper-slide>
        </swiper>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped></style>
