<script setup>
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';
import Ready from './components/Ready.vue';
import Swiper from './components/Swiper.vue';
import Cart from './components/Cart.vue';
</script>

<template>
 
  <Header/>
  <Cart/>
  <Swiper/>
  <Ready/>
  <Footer />
</template>

<style>
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  word-break: break-word;
  overflow-x: hidden;
  min-height: 100vh;
  animation: 1s 0.1s fadeIn backwards;
  letter-spacing: 0px;
}
::selection {
  color: #a09d9a;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* display: none; */
}
/* Track */
::-webkit-scrollbar-track {
  background: #000;
  /* display: none; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d6c4b2;
}</style>

